.accordion-button {
    font-size: 16px;
    padding: 1rem;
    background-color: #4290d5;
}

.accordion-body {
    background-color: #f8f9fa;
    padding: 1rem 1.5rem;
}
.container .link-tag a {
    text-decoration-line: none;
}
footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #004b84;
}

.pi {
    font-size: 1.3rem;
}

.container .footertext {
    width: 89%;
}

footer {
  border-top: 1px solid #dee2e6;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
