
<!-- <app-navbar></app-navbar> -->
<div class="demo0"><a routerLink="/sme/workmen" >workmen1</a></div> 
<div class="demo0"><a routerLink="/claims/motor" >claim motor</a></div> 
<div class="demo0"><a routerLink="/claims/health-claims" >health-claims</a></div> 
<div class="demo0"><a routerLink="/claims/motor-claims" >motor-claims</a></div> 
<div class="demo0"><a routerLink="/claims/travel" >travel</a></div> 
<div class="demo0"><a routerLink="/claims/home-claims" >home-claims</a></div> 
<div class="demo0"><a routerLink="/claims/corp-claims" >corp-claims</a></div> 
<div class="demo0"><a routerLink="/rsk/rskk" >risk manegment</a></div> 


<app-footer></app-footer>

<router-outlet></router-outlet>


