/* .my-button {
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
  font-family: var(--fontFamily);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
} */
/* Css for First Navbar */
.navbar {
    margin: 0;
   padding: 2px ;
   height: 35px ; 
   display: flex;
   align-items: center;
}
.navbar1{
    height: 35px; 
}
.drop-down-container{
    display: flex;
} 
.navbar .nav-item .dropdown-menu{
    background-color: #fff; 
    padding: 3rem;
    position: absolute;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #EC6625; 
    transform: translateX(5px); 
    transition: all 0.3s ease;
}

.blue{
    background-color: #014579 ;
    text-decoration: none;
    text-align: center;
    text-decoration: #fff;
    color: #fff !important;
}
.orange{
    background-color: #EC6625;
    color: #fff;
}
.text-orange{
  color: #EC6625;
}


/* Second navbar */
.sec-nav-color{
   height: 60px !important;
   background: linear-gradient(to bottom, #f58220 -18%, #b02a30 127%) !important;
   font-size: 13px !important;
}
.modal-content{
    padding: 3rem !important;
}
.sub-menu-img{
    width: 80px;
    background-image: url(../assets/nav-images/rectangle-common.png);
    background-size: cover;
}
.sub-menu-wrap{
    width: 340px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 1rem;
    position: absolute;
    top: 50px;
    margin-left: -80px;
    z-index: 9999;
    visibility: hidden;
  
}
.sub-menu-list{
    padding: 3rem;
    background-color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.sub-menu-list li{
list-style-type: none;
}
.sub-menu-list li:hover{
color: #EC6625; 
transform: translateX(5px); 
transition: all 0.3s ease;
}
.navbar .nav-item:hover .sub-menu-wrap{
    visibility: visible;
}
.nav-item i {
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.navbar .nav-item:hover i{
   transform: rotate(180deg);
}
.navbar .nav-item .nav-linkk{
   color: #fff;
}
.login-btnn{
    display: none;
}
.first-navlist{
    display: none;
}
@media (max-width: 992px){
.navbar .nav-item:hover .sub-menu-wrap,.navbar-nav .nav-item .nav-link i{
        visibility: hidden;
    }
.navbar .nav-item .nav-linkk{
        color:  #282828;
        padding: 12px;
        background-color: #e0dbdb;
        z-index: 999;
    }
.navbar .nav-item .nav-linkk i:hover{
        transform: none;
    }
} 
