<div class="item-renewals">
  <div class="form-box">
  <div class="container form" *ngIf="title || subTitle|| policyNo">
    <h2 class="title">{{title}}</h2>
    <p class="subTitle">{{subTitle}}</p>


    <!-- section : radio button and label -->
    <div class="form-check form-check-inline">
      <input class="form-check-input custom-radio" type="radio" name="policy" id="policy1" value="Policy No"
        [(ngModel)]="policyNo" checked>
      <label class="form-check-label" for="policy1">Policy No</label>
    </div>

    <!-- section : input field -->
    <input type="text" class="form-control custom-input" placeholder="Enter Policy No.">

    <!-- section : button -->
    <div class="btn">
      <app-button>Proceed</app-button>
    </div>
  </div>

</div>


<!-- section table -->
<div class="table-box">
  <div class="container table mt-5">
    <table class="table table-border table-striped text-center">
      <thead class="table-dark">
        <tr>
          <th *ngFor="let heading of tableHead">{{heading}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of tableData">
          <td>{{data.product}}</td>
          <td>{{data.productCode}}</td>
          <td>{{data.UIN}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- section disclamer -->
<div class="container disclamer">
  <p> {{para1}}</p>
  <p>{{para2}}</p>
</div>

<!-- sectionc Desclaimers link -->
<p class="container">
  <a (click)="goToDisclaimer()" class="disclaimer-router-link">Disclaimers</a>
</p>
</div>


