/* .sidebar {
  width: 300px;
  background: #f9f7f7;
  padding: 0;
  list-style-type: none;
}

.sidebar li {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  color: #777;
}

.sidebar li.active {
  border-left: 3px solid orange;
  font-weight: bold;
  color: black;
  background-color: white;
} */
