/* You can add global styles to this file, and also import other style files */
:root {
  --closeImage: '';
  --charcoalGrey: #384248;
  --chatAutoPopUpBackgroundColor: #ffffff;
  --chatAutoPopUpDescriptionColor: #60686d;
  --chatAutoPopUpNotificationButtonColor: #747b7f;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --highlightedMarkdownBackground: #9b9b9b;
  --highlightedMarkdownText: #eeecdd;
  --primaryColor: #db6b0b;
  --primaryTextColor: #FFFFFF;
  --fontFamily: Mulish, sans-serif;
  
}
