<footer class= "py-4">
  <div class="container">
    <div class="row">
      
      <!-- Products -->
      <div class="section col-md-4 mb-3" >
        <h6 class="mb-0">{{ footerData[0].title }}</h6>
        <ul class="list-unstyled">
          <li *ngFor="let link of footerData[0].links">
            <a routerLink="">{{ link }}</a>
          </li>
        </ul>
      </div>

      <!-- Services + Legal -->
      <div class="section col-md-4 mb-3">
        <h6 class="mb-0">{{ footerData[1].title }}</h6>
        <ul class="list-inline">
          <li class="list-unstyled" *ngFor="let link of footerData[1].links">
             <a routerLink="">{{ link }}</a>
          </li>
        </ul>

        <h6 class="mt-3 mb-0">{{ footerData[2].title }}</h6>
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let link of footerData[2].links">
             <a routerLink="">{{ link }}</a>
          </li>
        </ul>
      </div>

      <!-- Others -->
      <div class=" section col-md-4 mb-3">
        <h6 class="mb-0">{{ footerData[3].title }}</h6>
        <ul class="list-unstyled">
          <li *ngFor="let link of footerData[3].links">
             <a routerLink="">{{ link }}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>