<div class="property-container">
  <img src="assets\img\banner-Marine-vas.png" alt="Property Banner" class="property-image" />
  
  <div class="property-content">
    <h1 class="property-title">Property</h1>
    
    <p>
      Property Risk Assessment is a comprehensive & holistic approach to assess the potential of the outbreak of fire and providing solutions for mitigation.
    </p>
    
    <p>
      Property risk assessment consultants can help detect, prevent and mitigate conditions that can lead to fire at factories, buildings, warehouse or facility. Any organisation regardless of its size and nature of operation in the manufacturing and service sector should go for a periodic and comprehensive fire risk assessment.
    </p>
  </div>
</div>

  <div class="dropdown-wrapper">
  <button class="menu-btn" (click)="toggleDropdown()">
    Property Risk Management Services
    <span class="dropdown-icon" [class.rotate]="showDropdown">&#9650;</span>
  </button>

  <!-- Dropdown Menu -->
  <div class="dropdown-menu" *ngIf="showDropdown">
    <ul>
      <li>Property Loss Prevention Exercise</li>
      <li>Comprehensive Risk Assessment (CRA)</li>
      <li>Electrical Risk Assessment</li>
      <li>Fire Hydrant LoT</li>
      <li>Temperature & Humidity LoT</li>
      <li>Solutions In Renewable Energy</li>
    </ul>
  </div>

 <!-- Content (Right)Section -->
  <div class="content-wrapper">
    <!-- Left Image/Icon -->
    <div class="illustration">
      <img src="assets\img\engineering-loss-prevention-exercise.png" alt="PLPE Illustration" />
    </div>

    <!-- Right Text Content -->
    <div class="text-content">
      <h2>Property Loss Prevention (PLPE)</h2>
      <p>
        This program is specifically crafted for addressing "Low Focus - High Loss Areas,"
        providing individual clients with valuable tools to reduce the severity of losses.
        Clients have the opportunity to access Industry Risk Profiling, which benchmarks their
        risk levels, through a comprehensive risk assessment. All risk recommendations will be
        categorized into four segments based on a cost-impact matrix and priority. It is
        imperative for customers, as key decision-makers, and their risk partners to collaborate
        and ensure the implementation of these recommendations.
      </p>
    </div>
  </div>
  </div>

  <div class="cra-section">
  <div class="cra-image">
    <img src="assets\img\property-comprehensive-general-liability.png" alt="Comprehensive Risk Illustration" />
  </div>

  <div class="cra-content">
    <h2>Comprehensive Risk Assessment</h2>
    <p>
      A Comprehensive Risk Assessment is customised for industries to have a primary focus on staying compliant with industry regulations and standards, reducing the risk of penalties and avoiding losses due to electrical faults. CRA also includes aspects done in ERA.
    </p>
    <p>
      Risk experts tailor their assessments to industry specific operations, addressing current distinct challenges and needs. This is an advanced version of Electrical Risk Assessment in which our expert team will monitor Harmonics, Fire Hazards, Emergency Preparedness and also suggest energy saving solutions. This ROI based approach also helps to minimize upcoming losses due to electrical system upsets.
    </p>
    <p>
      Advanced tools are employed to conduct in-depth studies, providing solutions with accurate analysis and insights.
    </p>
  </div>
</div>





