<div class="container-fluid border border-dark">
    <div class="row mt-1 " style="height:31px ;">
        <div class="col brd">
            <div class="row">
                <div class="col-2 brd"></div>
                <div class="col-4 brd">1800 2666(Available 24 x 7)</div>
                <div class="col-2 brd"> Call Back</div>
                <div class="col-2 brd">Live Chat</div>
               
            </div>
        </div>
        <div class="col brd">
            <div class="row">
                <div class="col-2 brd">
                    <!-- ---dpd1---- -->
                    <div class="dropdown">
                        <span class="dropdown-toggle" data-bs-toggle="dropdown">
                            Suport
                        </span>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Contact Us</button></li>
                            <li><button class="dropdown-item" type="button"> Grievance Redressal</button></li>
                            <li><button class="dropdown-item" type="button"> Counter Offer Acceptance</button></li>
                        </ul>
                    </div>
                    <!-- ---dpd1---- -->
                </div>
                <div class="col-2 brd">
                    <!-- ---dpd2---- -->
                    <div class="dropdown">
                        <span class=" dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Info Center
                        </span>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item " href="#"> Tax Benefits</a></li>
                            <li><a class="dropdown-item" href="#">Downloads</a></li>
                            <li><a class="dropdown-item" href="#">Corporate India Risk Index</a></li>
                            <li><a class="dropdown-item" href="#">Testimonials</a></li>
                            <li><a class="dropdown-item" href="#">Consumer Insights</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Knowledge Center</a></li>
                            <li><a class="dropdown-item" href="#">IL Cafe Podcast</a></li>
                            <li><a class="dropdown-item" href="#">Blogs</a></li>
                            <li><a class="dropdown-item" href="#">Cashless Garages</a></li>
                            <li><a class="dropdown-item" href="#">Cashless Hospitals</a></li>
                        </ul>
                    </div>
                    <!-- ---dpd2---- -->
                </div>
                <div class="col-3 brd"><a href="https://www.icicilombard.com/investor-relations">Investor Relations</a>
                </div>
                <div class="col-3 brd">
                    <!-- ---dpd3--- -->
                    <div class="dropdown">
                        <span class="dropdown-toggle" data-bs-toggle="dropdown">
                            Become ac Advisor
                        </span>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button"> Know about Agent and PoSP</button></li>
                            <li><button class="dropdown-item" type="button"> Become an Agent</button></li>
                            <li><button class="dropdown-item" type="button">Become a PoSP</button></li>
                        </ul>
                    </div>
                    <!-- ---dpd3--- -->

                </div>
                <div class="col-1 brd"><button class="loginbutton">Login</button></div>
            </div>

        </div>
    </div>
</div>